.temp
.knownPackages
platform-tools
patcher
tools
sources
build-tools
platforms
.downloadIntermediates
licenses
skins
system-images
fonts
.android
.git
cmdline-tools
emulator
bak/*
btools
android

.#*
#*
