*~
pages
pages/
cache/
.temp
.knownPackages
platform-tools
patcher
tools
sources
build-tools
platforms
.downloadIntermediates
licenses
skins
system-images
fonts
.android
.git
cmdline-tools
emulator
bak/*
btools
android

appium-*.log
*.sums
t.*
nohup.out

make.log
emulator.log

**/.#*
**/#*

appium-boilerplate/
wdio0/
xtra/
pages/
*.zip
session.json
session.json-id
session-create.out
